<h3><i class="fab fa-readme"></i>కథకర్త</h3>

<div class="section">
    <p class="lead" style="line-height: 2rem;">"చేతిలో పుస్తకం కన్నా చరవాణి ఎక్కువసేపు ఉంటుందని తెలుసుకున్న ఒక
        ఔత్సాహికుడి ఉడత ప్రయత్నం.."</p>
</div>

<div class="divider"></div>

<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i>Login with Google
    </a>
</div>
